To help the second part statistic knowlodge, there shows some Python code.

## Import package

In [1]:
import pandas as pd

## Load data 

Load data using `pd.read_csv()`, we can also define the `sep`, like `pd.read_csv(<filename>, seq='\t')`

In [2]:
df = pd.read_csv('./data/HR.csv')

There are two types in `df`. One is __DataFram__, each column is __Series__

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
type(df['satisfaction_level'])

pandas.core.series.Series

## Calulate the mean, median, mode, quantile

Use `mean()`, `median()`, `mode()` and `quantile()`

In [5]:
## cal mean
df.mean()

satisfaction_level         0.612839
last_evaluation           67.373732
number_project             3.802693
average_monthly_hours    201.041728
time_spend_company         3.498067
Work_accident              0.144581
left                       0.238235
promotion_last_5years      0.021264
dtype: float64

In [6]:
type(df.mean())

pandas.core.series.Series

In [7]:
## or 
df['satisfaction_level'].mean()

0.6128393333333343

In [8]:
## cal median
df.median()

satisfaction_level         0.64
last_evaluation            0.72
number_project             4.00
average_monthly_hours    200.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
dtype: float64

In [9]:
df['satisfaction_level'].median()

0.64

In [10]:
## cal quantile
df.quantile(q=0.25)

satisfaction_level         0.44
last_evaluation            0.56
number_project             3.00
average_monthly_hours    156.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
Name: 0.25, dtype: float64

In [11]:
df['satisfaction_level'].quantile(q=0.25)

0.44

In [12]:
## cal mode
df.mode()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.1,0.55,4.0,135,3.0,0.0,0.0,0.0,sales,low
1,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df['satisfaction_level'].mode()

0    0.1
dtype: float64

In [14]:
df['department'].mode()

0    sales
dtype: object

## Calulate the standard deviation and variance

Use `std()` and `var()`

In [15]:
df.std()

satisfaction_level          0.248623
last_evaluation          8164.407524
number_project              1.232733
average_monthly_hours      49.941815
time_spend_company          1.460053
Work_accident               0.351689
left                        0.426018
promotion_last_5years       0.144267
dtype: float64

In [16]:
df.var()

satisfaction_level       6.181359e-02
last_evaluation          6.665755e+07
number_project           1.519630e+00
average_monthly_hours    2.494185e+03
time_spend_company       2.131754e+00
Work_accident            1.236854e-01
left                     1.814911e-01
promotion_last_5years    2.081307e-02
dtype: float64

In [17]:
df.sum()

satisfaction_level                                                 9192.59
last_evaluation                                                1.01074e+06
number_project                                                       57048
average_monthly_hours                                              3016028
time_spend_company                                                   52478
Work_accident                                                         2169
left                                                                  3574
promotion_last_5years                                                  319
department               salessalessalessalessalessalessalessalessaless...
salary                   lowmediummediumlowlowlowlowlowlowlowlowlowlowl...
dtype: object

## Calulate the skewness and kurtosis

Use `skew()` and `kurt()`

In [18]:
df.skew()

satisfaction_level        -0.476438
last_evaluation          122.482652
number_project             0.337774
average_monthly_hours      0.053225
time_spend_company         1.853530
Work_accident              2.021481
left                       1.229057
promotion_last_5years      6.637677
dtype: float64

In [19]:
df['satisfaction_level'].skew()

-0.47643761717258093

To be noice, here the `kurt()` function , the normal distribution is set 0

In [20]:
df.kurt()

satisfaction_level          -0.670696
last_evaluation          15001.999987
number_project              -0.495810
average_monthly_hours       -1.135016
time_spend_company           4.774353
Work_accident                2.086664
left                        -0.489485
promotion_last_5years       42.064357
dtype: float64

In [21]:
df['satisfaction_level'].kurt()

-0.6706959323886252

## Normal distribution and other distribution
First, need to import scipy package

In [22]:
import scipy.stats as ss

In [23]:
## normal distribution
ss.norm

`ss.norm.stats()` set `moments` as `'mvsk'`. Here `'mvsk'` means that mean, variance, skew and kurt. The function will return these four values.

In [24]:
ss.norm.stats(moments='mvsk')

(array(0.), array(1.), array(0.), array(0.))

In [25]:
ss.norm.pdf(0.0)

0.3989422804014327

In [26]:
ss.norm.ppf(0.9)

1.2815515655446004

In [27]:
ss.norm.cdf(2)

0.9772498680518208

In [28]:
ss.norm.cdf(2) - ss.norm.cdf(-2)

0.9544997361036416

In [29]:
ss.norm.rvs(size=10)

array([-0.28586485,  0.82769467,  0.31701898, -0.58707123,  1.40061477,
        0.68250083, -0.68396342,  0.61197962,  0.20607654,  0.21885582])

Same, __Chi-square distribution__, __t-student distribution__, and __F distribution__ are similar.

In [30]:
## Chi-square distribution
ss.chi2

In [31]:
## t-student distribution
ss.t

In [32]:
## F distribution
ss.f

## Sample

Use `sample()` function, we can set `n` or `frac` value.

In [33]:
df.sample(n=10)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
1872,0.10,0.87,7,251,5,0,1,0,technical,low
2815,0.93,0.63,4,143,3,1,0,0,product_mng,low
10623,0.95,0.54,4,235,4,0,0,0,sales,medium
308,0.41,0.48,2,145,3,0,1,0,accounting,medium
2193,1.00,0.66,4,180,3,0,0,0,technical,low
10087,0.38,0.51,3,151,2,0,0,0,sales,medium
14569,0.31,0.62,6,135,5,0,1,0,support,low
8629,0.19,0.90,5,172,2,0,0,0,support,low
10810,0.68,0.76,3,260,4,0,0,0,support,low
5679,0.21,0.53,3,229,5,0,0,0,accounting,medium

In [34]:
df.sample(frac=0.001)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
10691,1.00,0.93,5,231,2,0,0,0,marketing,medium
8246,0.61,0.70,3,225,3,0,0,0,accounting,low
4901,0.90,0.78,4,225,2,1,0,0,sales,medium
7907,0.80,0.81,3,199,4,1,0,0,support,medium
2048,0.48,0.85,3,279,4,0,0,0,IT,low
13381,0.93,0.98,3,241,3,0,0,0,IT,medium
293,0.11,0.91,6,308,4,1,1,0,IT,low
6482,0.48,0.81,4,248,2,0,0,0,RandD,medium
5603,0.52,0.49,3,146,2,1,0,0,accounting,medium
9808,0.56,0.89,3,163,3,1,0,0,technical,high
3320,0.21,0.70,3,104,2,0,0,0,technical,low
8133,0.94,0.73,3,154,3,0,0,0,technical,low
11227,0.48,0.93,3,150,10,0,0,0,technical,low
3585,0.85,0.62,2,280,4,0,0,0,RandD,low
354,0.33,0.88,6,219,5,0,1,0,support,low

In [35]:
df['satisfaction_level'].sample(10)

1645     0.11
568      0.44
2248     0.53
9006     0.85
13432    0.96
705      0.45
7157     0.89
1098     0.42
8728     0.13
4009     0.15
Name: satisfaction_level, dtype: float64